# secrets
.env
tokens.json

# python
__pycache__/
*.pyc

# virtualenv
.venv/
env/
venv/

# IDE / system
.vscode/
.idea/
.DS_Store

# videos / tmp
static/out/**
static/uploads/**

# оставляем UI-страницу в трекинге
!static/ui.html
